<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
    <title>Interactive BB</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Load P5.js with integrity checks -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.min.js" integrity="sha384-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/addons/p5.dom.min.js" integrity="sha384-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/addons/p5.sound.min.js" integrity="sha384-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" crossorigin="anonymous"></script>

    <!-- Load React with integrity checks -->
    <script src="https://unpkg.com/react@18/umd/react.production.min.js" integrity="sha384-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js" integrity="sha384-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" crossorigin="anonymous"></script>

    <!-- Load Babel -->
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js" integrity="sha384-..." crossorigin="anonymous"></script>

</head>

<body>
    <div id="root"></div>

    <!-- Load React development versions for debugging -->
    <script src="https://unpkg.com/react@18/umd/react.development.js" integrity="sha384-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" integrity="sha384-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" crossorigin="anonymous"></script>

    <!-- Load Babel for JSX -->
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js" integrity="sha384-..." crossorigin="anonymous"></script>

    
    <!-- Load your React component -->
    <script src="/js/bbComponents.jsx" type="text/babel"></script>
    
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</body>
</html>
